<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDh9R607QMuKhNotx0GK3EjSEmcCpSsugI</string>
	<key>GCM_SENDER_ID</key>
	<string>199041559798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luminous.ios.MyWhatsApp</string>
	<key>PROJECT_ID</key>
	<string>mywhatsapp-d07bb</string>
	<key>STORAGE_BUCKET</key>
	<string>mywhatsapp-d07bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199041559798:ios:1f0cd5388b99ce838390d7</string>
</dict>
</plist>